<!--<p>For FastAPI documentation, check out <a href="{  { url_for('docs') }}">the documentation</a>.</p>-->
<p>For API documentation, check out <a href="redoc">this link</a> or <a href="docs"> this link</a> for the documentations.</p>
{% if (parameter) %}
<p>This is parameter you just enter: [{{parameter}}]</p>
{% endif %}
<div>
    <p>Client IP:: {{ client_ip }}</p>
    <p>Client browser_name: {{ browser_name }}</p>
    <p>Client user_agent: {{ user_agent }}</p>
    <hr />
    <p>Database Columns-Value examples:</p>
    <p>
        <ul>
          {% for key, value in List_Columns_Name.items() %}
            <li><b>{{ key }}</b>: {{ value }}</li>
          {% endfor %}
        </ul>
    </p>
</div>
